{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>About Us - Task Planner </title>
{% endblock title %}


{% block content %}
      <div class="container">
      </br>
        <h1> About Task-Planner... </h1>
        <img src="{% static 'images\about.jpg' %}" class=" shadow  bg-body rounded float-end" alt="Bootstrap Themes" width="600" height="500" loading="lazy">
      </br> 
        <h3> Task-planner is a tool that keeps the record of your daily tasks. It helps you to...</h3>

      </br>
        <h4>1. Improve Productivity</h4>
    </br>
        <h4>2. Increase Efficiency</h4>
      </br>
        <h4>3. Reduce Stress</h4>
      </br>
        <h4>4. Ensure Customer Satisfaction</h4>
      </br>
        <h4>5. Monitor Trends</h4>
      </br>
        
      </div> 
{% endblock content %}